---
layout: splash #home
author_profile: false

# permalink: /splash-page/
# date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: 0
  overlay_image: /assets/images/home-2.jpg
  # image: /assets/images/home-new.jpg
  # actions:
  #   - label: "Download"
  #     url: "https://github.com/mmistakes/minimal-mistakes/"
  # caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
  caption: "[Image by Юкатан via wikimedia commons](https://commons.wikimedia.org/wiki/File:Panorama_Haifa.jpg)"
  # image_description: "A description of the image"
excerpt: |
  Part of <a style="text-decoration: none;" href="https://floc2022.org/"><b>FLoC 2022</b></a> <br /> 
  August 2–5 2022, Haifa, Israel <br><br><br><br>
intro: 
  - excerpt: The 25nd International Conference on Theory and Applications of Satisfiability Testing

feature_row:
  - image_path: assets/images/row-1.jpg
    # alt: "placeholder image 1"
    # title: "Placeholder 1"
    # excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: /assets/images/row-2.jpg
    # image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    # alt: "placeholder image 2"
    # title: "Placeholder 2"
    # excerpt: "This is some sample content that goes here with **Markdown** formatting."
    # url: "#test-link"
    # btn_label: "Read More"
    # btn_class: "btn--primary"
  - image_path: /assets/images/row-3.jpg
    image_caption: "<a style='text-decoration: none;' href='https://commons.wikimedia.org/wiki/File:Western_Haifa_from_the_air.jpg'>credit</a>"
    image_url: "https://commons.wikimedia.org/wiki/File:Western_Haifa_from_the_air.jpg"
    # title: "Placeholder 3"
    # excerpt: "This is some sample content that goes here with **Markdown** formatting."
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<div>
The International Conference on Theory and Applications of Satisfiability Testing (SAT) is the premier annual meeting for researchers focusing on the theory and applications of the propositional satisfiability problem, broadly construed. In addition to plain propositional satisfiability, it also includes Boolean optimization (such as MaxSAT and Pseudo-Boolean (PB) constraints), Quantified Boolean Formulas (QBF), Satisfiability Modulo Theories (SMT), Model Counting, and Constraint Programming (CP) for problems with clear connections to Boolean-level reasoning. <br><br>

Many hard combinatorial problems can be tackled using SAT-based techniques including problems that arise in Formal Verification, Artificial Intelligence, Operations Research, Computational Biology, Cryptography, Data Mining, Machine Learning, Mathematics, etc. Indeed, the theoretical and practical advances in SAT research over the past twenty years have contributed to making SAT technology an indispensable tool in a variety of domains. <br><br>

SAT 2022 aims to further advance the field by soliciting original theoretical and practical contributions in these areas with a clear connection to satisfiability. Specifically, SAT 2022 invites scientific contributions addressing different aspects of SAT interpreted in a broad sense, including (but not restricted to) theoretical advances (such as exact algorithms, proof complexity, and other complexity issues), practical search algorithms, knowledge compilation, implementation-level details of SAT solvers and SAT-based systems, problem encodings and reformulations, applications (including both novel application domains and improvements to existing approaches), as well as case studies and reports on findings based on rigorous experimentation.
</div>

