---
layout: splash #home
author_profile: false

# permalink: /splash-page/
# date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: 0
  overlay_image: /assets/images/home-2.jpg
  # image: /assets/images/home-new.jpg
  # actions:
  #   - label: "Download"
  #     url: "https://github.com/mmistakes/minimal-mistakes/"
  # caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
  caption: "[Image by Юкатан via wikimedia commons](https://commons.wikimedia.org/wiki/File:Panorama_Haifa.jpg)"
  # image_description: "A description of the image"
excerpt: |
  On the Not So Unusual Effectiveness of Logic <br />
  Part of <a style="text-decoration: none;" href="https://floc2022.org/"><b>FLoC 2022</b></a> <br /> 
  July 31- Aug 1 2022, Haifa, Israel <br><br><br><br>
intro: 
  - # excerpt: VardiFest: On The Not So Unusual Effectiveness of Logic

feature_row:
  - image_path: assets/images/row-1.jpg
    # alt: "placeholder image 1"
    # title: "Placeholder 1"
    # excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: /assets/images/row-2.jpg
    # image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    # alt: "placeholder image 2"
    # title: "Placeholder 2"
    # excerpt: "This is some sample content that goes here with **Markdown** formatting."
    # url: "#test-link"
    # btn_label: "Read More"
    # btn_class: "btn--primary"
  - image_path: /assets/images/row-3.jpg
    image_caption: "<a style='text-decoration: none;' href='https://commons.wikimedia.org/wiki/File:Western_Haifa_from_the_air.jpg'>credit</a>"
    image_url: "https://commons.wikimedia.org/wiki/File:Western_Haifa_from_the_air.jpg"
    # title: "Placeholder 3"
    # excerpt: "This is some sample content that goes here with **Markdown** formatting."
---
<div>
    *NEW* Call for Presentations: https://easychair.org/cfp/vardifest22
</div>
{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<div>
Twenty three years ago, the seminal symposium titled "<a href="https://www.cs.cmu.edu/~rwh/papers/unreasonable/basl.pdf">On the Unusual Effectiveness of Logic</a>", co-organized by <a href="https://en.wikipedia.org/wiki/Moshe_Vardi">Prof. Moshe Y. Vardi</a>, sought to explore
 the unusual effectiveness of logic in computer science at that time. Since then, logic’s centrality in computer science has only been further enhanced. 
  Therefore, with the hindsight of twenty three years, today’s researchers will not be faulted to conclude that the logic’s effectiveness is not so unusual after all.
 Vardi has been a leader guiding the community in enabling the ongoing revolution fueled by logic.  
  </br>  
This workshop is planned to celebrate the pioneering role of Vardi and will bring together researchers from diverse communities, 
representing both the diversity of the role played by Logic and the breadth and depth of Vardi’s contributions. </div>

